@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    list-style: none;
    text-decoration: none;
}
canvas {
    opacity: .4;
    width: 100%;
    height: 100wh;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(155, 155, 155);
}
b{
    background: linear-gradient(rgb(115, 112, 112), rgb(18, 18, 242));
    border-radius: 25px;
    padding: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 20px rgb(66, 242, 18);
    cursor: url(../secondary/blogmore/pencil.png), auto;
}
b:hover{
    background: linear-gradient(rgb(115, 112, 112), rgba(0, 0, 48, 0));
}
svg{
    height: 80%;
}
.banner{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,255,214,0.74) 52%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(52%, rgba(237,255,214,0.74)), color-stop(100%, rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,255,214,0.74) 52%, rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,255,214,0.74) 52%, rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,255,214,0.74) 52%, rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,255,214,0.74) 52%, rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.banner h1{
    font-size: 3em;
    position: absolute;
    z-index: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 7px 20px;
    z-index: 50;
    transition: 300ms ease-in-out;
}
button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#circulo{
    position: absolute;
    border: 2px solid #000000;
    width: 30px;
    height: 30px;
    border-radius:50%;
    transition: all .02s ease-in-out;
    z-index: 1000;
}
/*Bubbles*/
.bubbles{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.bubbles span{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(blogmore/firstbubble.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s/var(--i));
}
.bubbles span:nth-child(even){
    background-image: url(blogmore/secondbubble.png);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.console-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:50%;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
.hidden {
    opacity:0;
}
/*Blog note*/
.blog__note {
    padding: 10px;
    display: flex;
    gap: 20px;
    height: auto;
    position: relative;
}
.blog__note-item {
    width: 50%;
    font-family: 'Tilt Neon', sans-serif;
    background-color: #009dff;
    opacity: .8;
    transition:  all 700ms ease-in-out;
    text-overflow: ellipsis;
    padding: 10px;
}
.blog__note:nth-child(even){
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    padding: 20px;
    box-sizing: border-box;
}
.blog__note:nth-child(odd){
    clip-path: polygon(2% 0, 90% 0, 100% 100%, 10% 100%);
}
.blog__note-item:hover{
    flex-grow: 9;
    cursor: url("blogmore/pencil.png"), auto;
}
